
.containerDetail {
    background-image:url(/public/img/tramatrabajo.png);
    height: 800px;
    background-size: cover;
}

.card-detail {
    padding: 6% 20%;
}
.card-content {
    display: flex;
    justify-content: center;
    align-items:start;
    background-color:#FFFFFF;
    border-radius: 8px;
    width: 1000px;
    height: 400px;
    border: 1px solid var(--chocolate);
    padding: 5%;
}
h2.titleDetail {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--chocolate);
    margin: 2rem 0 0 0;
}

.img-detail {
    border-radius: 8px;
    margin: 1rem 0;
}

.text-detail {
    width: 400px;
    text-align: left;
}

.item-price, .item-stock {
    color: var(--chocolate);
    font-weight: 300;
}

.container-info {
    margin-left: 2rem;
    text-align: left;
    line-height: 1.8;
}
.card-category-detail {
    color: var(--boton-principal);
    font-weight: 300;
}

.card-category-payment {
    color: var(--chocolate);
}

.buttonText {
    text-decoration: none;
}

.btn-danger {
    display: flex;
    background-color:#AB4E6B;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 140px;
    border-color: var(--chocolate);
    width: 250px;
    justify-content: center;
}

.btn-success {
    display: flex;
    background-color:var(--chocolate);
    color: #FFFFFF;
    padding: 8px;
    border-radius: 140px;
    border-color: var(--chocolate);
    width: 250px;
    justify-content: center;
}
.cartpage {
    display: flex;
    justify-content: space-between;
    height: 1200px;
}
.cartButtons {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 10px;
    margin-top: 5rem;
    margin-right: 3rem;
    padding-left: 10px;
}
.yourCart {
    margin: 5rem 0 0 5rem;
}

img {
    border-radius: 8px;
    width: 300px;
}

.cartGeneral {
    display: flex;
    padding: 2rem 0rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--chocolate);
    margin-left: 5rem;
}
.cartGeneralDetail {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 400px;
}

.detailCart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 1.6;
}

.cartName {
    font-size: 18px;
    font-weight:700;
}

.cartQuanty {
    font-size: 16px;
}

.btnX {
    background-color: white;
    border: none;
    text-align: left;
    padding-top: 8rem;
}

.btnX i {
    color: var(--chocolate);
}

.cartSpan {
    display: flex;
    justify-content: space-between;
}

.goShopping {
    margin: 5rem;
}

.btnItemDetail {
    display: flex;
    margin-top: 2rem;
    gap: 20px;
}
.btnItemDetail a {
    text-decoration: none;
}

.btn-dark {
    margin-bottom: 80px;
    margin-top: -5px;
}